@charset "UTF8";

div.quadrado
{
    border: 2px solid black;
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: gray;
}

body
{
    background-image: url(imagens/wallpaper002.jpg);
    /*traz uma imagem do diretório local como fundo de tela*/
}

div#q1
{
    background-color: aquamarine;
    /*coloca uma cor como fundo de tela*/
}

div#q2
{
    background-image: linear-gradient(red, blue, yellow);
    /*coloca uma cor como fundo de tela*/
}

div#q3
{
    background-image: url(imagens/pattern001.png);
}